body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-family: 'Righteous', sans-serif; }

.container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto; }
  @media (min-width: 640px) {
    .container {
      width: 640px; } }

.content {
  margin-bottom: 50px;
  overflow: auto; }

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
