.prodImg{
    display: block;
    width: 100%;
    height: 180px;
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: cover;
}
.btmBox{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 8px;
}
.prodTitle{
    font-size: 16px;
    color: white;
    margin: 0;
}
.price{
    color: white;
}