.ProductCart {
    display: flex;
    padding: 0 8px;
    margin-bottom: 10px;

    .prodImg {
        display: block;
        width: 100px;
        height: 90px;
        background-repeat: no-repeat;
        background-position: 50% center;
        background-size: cover;
        margin-right: 8px;
    }
    .rightBox {
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center
    }
    .removeFromCart {
        top: -15px;
        right: -15px;
    }
    .prodTitle {
        font-size: 15px;
        margin: 0;
    }
    .rightBtmBox {
        display: flex;
        justify-content: space-between;
    }
    .price {
        font-size: 13px;
    }
    .quantity {
        font-size: 13px;
        color: "#ddd"
    }
}