.ProductCart {
    display: flex;
    padding: 0 8px;

    .prodImg {
        display: block;
        width: 100px;
        height: 90px;
        background-repeat: no-repeat;
        background-position: 50% center;
        background-size: cover;
        margin-right: 8px;
    }
    .prodTitle {
        font-size: 13px;
        margin: 0;
    }
    .price {
    }
}