.prodList{
    display: flex;

}
.prodImg{
    display: block;
    width: 100px;
    height: 180px;
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: cover;
}
.prodTitle{
    font-size: 16px;
    margin: 0;
}
.price{
    color: white;
}