.prodContent {
	padding: 0 15px 20px;

	.title {
		color: #999;
		text-transform: uppercase;
		margin-bottom: 5px;
		margin-top: 20px;
		font-size: 14px;
		line-height: 1.7;
	}
	.desc {
		font-size: 12px;
		line-height: 18px;
	}
}